<h1>Welcome, <%= @user ? @user.username : "" %>!</h1>

<h3>Your Tweets: </h3>

<% @tweets.each do |tweet| %>
  <label><%= tweet.id %>.</label>
  <a href="tweets/<%= tweet.id %>"> <%= tweet.content %></a><br/>
  <hr/>
<% end %>